# Thu thập và phân tích dữ liệu từ một page Facebook
# Bước 1: Thu thập dữ liệu

# Sử dụng Facebook Scraper để thu thập

In [ ]:
%pip install facebook_scraper pandas numpy
from facebook_scraper import get_posts
import pandas as pd
import numpy as np
import os

In [11]:
FANPAGE_LINK ="Steam"
FOLDER_PATH = "Data/"
COOKIE_PATH = "./mbasic.facebook.com_cookies.txt"

PAGES_NUMBER = 100 # Number of pages to crawl

post_list = []
for post in get_posts(FANPAGE_LINK,
                    options={"comments": True, "reactions": True, "allow_extra_requests": True},
                    extra_info=True, pages=PAGES_NUMBER, cookies=COOKIE_PATH):
    print(post)
    post_list.append(post)

# Chuyển dict này thành Dataframe

In [ ]:
# Initialize dataframe to scrape Facebook post
post_df_full = pd.DataFrame(columns=post_list[0].keys(), index=range(len(post_list)), data=post_list)

# To df
path=FOLDER_PATH + "RawData.csv"
post_df_full.to_csv(path, index=False)
print(path)

In [3]:
# Giờ ta sẽ sử dụng Dataframe đã tạo Valve.csv để phân tích
df = pd.read_csv('Data/RawData.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   created_time  200 non-null    object
 1   from          200 non-null    object
 2   updated_time  200 non-null    object
 3   message       200 non-null    object
 4   type          200 non-null    object
 5   picture       116 non-null    object
 6   like          200 non-null    object
 7   love          200 non-null    object
 8   haha          200 non-null    object
 9   wow           200 non-null    object
 10  angry         200 non-null    object
 11  sad           200 non-null    object
 12  comments      200 non-null    object
 13  shares        192 non-null    object
 14  id            200 non-null    object
dtypes: object(15)
memory usage: 23.6+ KB

# Bước 2: Làm sạch và tiền xử lý dữ liệu

In [4]:
#Drop những column không cần dùng và những column có quá nhiều giá trị NaN
df = df.dropna(thresh=10, axis='columns')
df.columns

Index(['created_time', 'from', 'updated_time', 'message', 'type', 'picture',
       'like', 'love', 'haha', 'wow', 'angry', 'sad', 'comments', 'shares',
       'id'],
      dtype='object')

In [5]:
#Những cột này không có giá trị sử dụng khi phân tích dữ liệu
df = df.drop(columns=['from','id','updated_time'])

In [6]:
df.head()

,created_time,message,type,picture,like,love,haha,wow,angry,sad,comments,shares
0,2023-09-21T02:01:15+0000,Đang hí hửng có việc thì thấy phải kí hợp đồng...,status,NaN,"{'data': [], 'summary': {'total_count': 3047, ...","{'data': [], 'summary': {'total_count': 5, 'vi...","{'data': [], 'summary': {'total_count': 2021, ...","{'data': [], 'summary': {'total_count': 6, 'vi...","{'data': [], 'summary': {'total_count': 1, 'vi...","{'data': [], 'summary': {'total_count': 69, 'v...",{'data': [{'message': 'Rất là không đúng luật ...,{'count': 28}
1,2023-09-20T14:03:24+0000,Trực page nhưng nóng tính #BTEDL #agencycam,video,https://scontent.fhan3-2.fna.fbcdn.net/v/t15.5...,"{'data': [], 'summary': {'total_count': 1313, ...","{'data': [], 'summary': {'total_count': 12, 'v...","{'data': [], 'summary': {'total_count': 1506, ...","{'data': [], 'summary': {'total_count': 2, 'vi...","{'data': [], 'summary': {'total_count': 0, 'vi...","{'data': [], 'summary': {'total_count': 11, 'v...","{'data': [{'message': 'Nguyễn HồngAnh', 'creat...",{'count': 68}
2,2023-09-20T13:00:05+0000,Top những lý do chị em hay dùng nhất ...\n#Dia...,photo,https://scontent.fhan3-4.fna.fbcdn.net/v/t39.3...,"{'data': [], 'summary': {'total_count': 2754, ...","{'data': [], 'summary': {'total_count': 0, 'vi...","{'data': [], 'summary': {'total_count': 513, '...","{'data': [], 'summary': {'total_count': 1, 'vi...","{'data': [], 'summary': {'total_count': 0, 'vi...","{'data': [], 'summary': {'total_count': 1, 'vi...",{'data': [{'message': 'Xem em zi Rap Kiều để b...,NaN
3,2023-09-20T10:50:40+0000,"Lớn rồi ai luỵ nyc, tôi luỵ đồng nghiệp nghỉ v...",status,NaN,"{'data': [], 'summary': {'total_count': 7250, ...","{'data': [], 'summary': {'total_count': 41, 'v...","{'data': [], 'summary': {'total_count': 5974, ...","{'data': [], 'summary': {'total_count': 10, 'v...","{'data': [], 'summary': {'total_count': 0, 'vi...","{'data': [], 'summary': {'total_count': 485, '...",{'data': [{'message': 'Chị đồng nghiệp thân ng...,{'count': 300}
4,2023-09-20T08:12:25+0000,"Tự dưng phải đi làm sau 3,4 tháng thất nghiệp....",photo,https://scontent.fhan3-2.fna.fbcdn.net/v/t39.3...,"{'data': [], 'summary': {'total_count': 5307, ...","{'data': [], 'summary': {'total_count': 11, 'v...","{'data': [], 'summary': {'total_count': 3773, ...","{'data': [], 'summary': {'total_count': 4, 'vi...","{'data': [], 'summary': {'total_count': 1, 'vi...","{'data': [], 'summary': {'total_count': 271, '...","{'data': [{'message': 'Thấy lạ lạ quá, giá như...",{'count': 243}

In [7]:
#Tìm những data bị NaN và xử lý 
df.isna().sum()

created_time     0
message          0
type             0
picture         84
like             0
love             0
haha             0
wow              0
angry            0
sad              0
comments         0
shares           8
dtype: int64

In [24]:
#Có thể thấy ở cột picture những giá trị NaN có nghĩa là post không có ảnh, ở cột shares những giá trị NaN có nghĩa là post không có lượt share nào
df['picture'].fillna(" ")
df['shares'].fillna("{'count': 0}")

0       {'count': 28}
1       {'count': 68}
2        {'count': 0}
3      {'count': 300}
4      {'count': 243}
            ...
195    {'count': 130}
196    {'count': 282}
197     {'count': 15}
198    {'count': 751}
199     {'count': 44}
Name: shares, Length: 200, dtype: object